body {
    margin: 0;
}

.nav-1 {

    background-color: #019e91;
    padding: 0.3% 0 0.3% 10.1%;
}

.fa-envelope {
    position: relative;
    right: 6%;
    margin-left: 45%;
}

.nav-1-email {
    display: inline-block;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    position: relative;
    right: 6%;
}

.fa-phone {
    position: relative;
    right: 6%;
}

.nav-1-phone {
    display: inline-block;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    position: relative;
    right: 6%;
}

.nav-2 {
    text-align: center;
    padding: 3% 6% 3% 5%;

}

.nav_2 {
    display: inline-block;
    position: absolute;
    left: 25%;
}

.fa-icon {
    display: inline-block;
    font-size: small;
    padding: 0 5px 0 10px;
    color: aliceblue;
}

.fa-icon:hover {
    color: aqua;
}

.nav-1-text {
    display: inline-block;
    font-size: smaller;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

#logo {
    width: 7%;
    text-align: left;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 9%;
    left: 8%;
}

#grant {
    text-align: left;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 12%;
    left: 16%;
    font-family: 'DM Sans', sans-serif;


}

#foundation {
    text-align: left;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 17%;
    left: 16%;
    font-family: 'DM Sans', sans-serif;
    color: #019e91;

}

.nav-2-text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(122, 117, 117);
    padding-left: 50px;

}

.nav-2-button {

    position: relative;
    background-color: #019e91;
    color: aliceblue;
    border: 0;
    left: 40.5%;
    font-size: 1rem;
    bottom: 5px;
    padding: 0.7% 1% 0.7% 1%;
}

.nav-2-button:hover {
    background-color: transparent;
    border: 0.5px solid black;
    color: #000000;
    transition: 0.1s;

}

.block-2-img {

    filter: opacity(0.7) drop-shadow(0 0 0 rgba(252, 170, 170, 0));
}

.block-2 h2 {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
    color: aliceblue;
}

.card-album {

    margin:auto;
    padding:5.5% 0 0 10%;    
  
}

.card {
    display: inline-block;
    position: relative;
    transition: 0.3s;
    border: 1px solid #edecec;
    margin:0 25px 25px 0;
   
    

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 100%;

}

.container-1_1 {
    position: relative;
    padding: 15px 25px 20px 25px;
}

.container-1_1 p {
    text-align: left;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 0.3;
    letter-spacing: 0.1%;
}

.container-1_1 h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.3s;
}
.container-1_1 h4:hover{
    color: #019e91;
}
.user-icon {
    color: #a7a6a6;
    transition: 0.3s;
    padding-right: 5px;
}
.user-icon-h6{
    display: inline-block;
    color: #a7a6a6;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    position: absolute;
    bottom:68%;
    font-size: 14px;

}
.user-icon:hover{
    color: #17b6cb;
}
.heart-icon {
    position: absolute;
    color: #a7a6a6;
    right: 25%;
    padding-right: 10px;
    transition: 0.3s;
}
.heart-icon:hover{
    color: #17b6cb;
}
.comment-icon {
    position: absolute;
    color: #a7a6a6;
    right: 10%;
    padding-right: 10px;
    transition: 0.3s;
}
.comment-icon:hover{
    color: #17b6cb;
}

.heart-icon-h6 {
    color: #a7a6a6;
    display: inline-block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    right: 22%;
    bottom: 67%;

}

/* .verti{
    display: inline-block;
    position: absolute;
    left: 15%;
    color: #a7a6a6;
    border-left: 1px solid red; 
    padding: 5px;
} */


.comment-icon-h6 {
    color: #a7a6a6;
    display: inline-block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    right: 6%;
    bottom: 67%;

}

.date-tag {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #17b6cb;
    top: 0;
}

.date-tag h6 {
    text-align: center;
    position: relative;
    bottom: 5%;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 15px;

}

.read-more {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    color: grey;
    left: 78%;
transition: 0.3s;
}
.read-more:hover{
    color: #17b6cb;
}










































/* footer area */
footer {
    background-color: #232121;
    padding: 70px 40px 0 0;
    margin-top: 5%;

}

.row {
    display: flex;

}

.container {
    margin: auto;

    margin: 0;

}

ul {
    list-style: none;
    padding-left: 0;
}

.footer-col {
    width: 20%;
    padding: 0;
}

.footer-first {
    padding-left: 11%;
    margin-right: 15%;
}


li a {
    text-decoration: none;
    line-height: 2.5;
    font-family: 'Poppins', sans-serif;
}


.footer-col h3 {
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3rem;
}




li {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}




#contact-h3 {
    font-family: 'DM Sans', sans-serif;
}


.footer-text-hr {

    width: 15%;
    position: relative;
    right: 42%;
    border-top: 3.5px solid #019e91;
    border-bottom: 0px none;
}


#input {
    height: 30px;
    width: 100%;
    padding: 2px;
    font-family: 'Poppins', sans-serif;

}

#phone {
    line-height: 3;
}

#email {
    line-height: 2;
}

.input-container {
    padding-top: 20px;
    display: flex;
}

.icon {
    text-align: center;
    padding: 10px;
    margin-left: 0;
    width: 27px;
    height: 18px;
    background: #019e91;
    color: aliceblue;
}

.bottom-footer {
    padding: 0.5% 0 0.5% 0.8%;
    background-color: #000000;
}

.bottom-footer p {
    display: inline-block;
    padding: 0 50% 0 10%;
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

.bottom-text {
    font-weight: bolder;
}

.fa-copyright {
    display: inline-block;
    font-size: small;
}